<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
</head>
<body>
<div th:replace="Header :: header"/>
<div style="text-align: center; margin-top: 5%;">
    <tr>
        <button onclick="location.href='/updateuserinfo'" type="button" style="background-color:rgb(167, 159, 211)">Change password</button>
        <button onclick="location.href='/orders'" type="button" style="background-color:rgb(167, 159, 211)">Order history</button>
    </tr>
</div>
</body>
</html>