<!DOCTYPE html>
<!--https://www.thymeleaf.org/-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div th:replace="Header :: header"/>
<div class="main">
    <!--inserting main text on the main page-->
    <p>MAIN PAGE</p>
</div>
<div class="container_class">

    <div class="main_container">

        <!--inserting buttons on the welcome page-->

        <button onclick="location.href='/rides'" type="button" style="background-color:rgb(167, 159, 211)">
            Rides</button>

        <button onclick="location.href='/menu'" style="background-color:rgb(167, 159, 211)" type="button" >
            Menu
        </button>

        <button onclick="location.href='/tickets'" style="background-color:rgb(167, 159, 211)" type="button" >
            Tickets
        </button>
    </div>
</div>
</body>
</html>



