<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant</title>
</head>
<body>
<div th:replace="Header :: header"/>
  <table style="margin-left: auto; margin-right: auto;">
    <tbody>
      <td style="height: 50px;">Menu</td>
    </tbody>
  </table>
  <table style="margin-left: auto; margin-right: auto;">
    <tbody>
      <form action="#" th:action="@{/menu/update}" method="post" th:object="${foodOrderList}">
        <tr th:each="food,stat : ${menu}">

            <td style="height:50px; width:150px" th:text="${food.name}" />
            <td style="height:50px;">$<td th:text="${food.price}" />

            <td>
              <input type="number" min="0" max="10" placeholder="0"
                     th:name="*{'foodOrderList[__${stat.index}__].quantity'}"/>

              <input type="hidden"
                     th:value="${food.id}"
                     th:name="*{'foodOrderList[__${stat.index}__].id'}"/>
              <input type="hidden"
                     th:value="${food.price}"
                     th:name="*{'foodOrderList[__${stat.index}__].price'}"/>
              <input type="hidden"
                     th:value="${food.name}"
                     th:name="*{'foodOrderList[__${stat.index}__].name'}"/>
            </td>
        </tr>
        <tr>
          <td><input type="submit"value="Submit" /><input type="reset" value="Reset" /></td>
        </tr>
      </form>
      <div th:if="${message != null}">
        <script th:inline="javascript">
          window.alert([[${message}]]);
        </script>
      </div>
    </tbody>
  </table>
</body>
</html>
