<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Water Rides</title>
</head>
<div th:replace="Header :: header"/>
<table border="black">
    <tr>
        <td>ID</td>
        <td>RIDE</td>
        <td>RIDE TYPE</td>
        <td>DURATION</td>
    </tr>
    <tr th:each="ride:${waterrides}">
        <td th:text="${ride.id}"></td>
        <td th:text="${ride.name}"></td>
        <td th:text="${ride.type}"></td>
        <td th:text="${ride.duration}"></td>
    </tr>
</table>
<p><a th:href="@{/reserve}">Reserve a ride</a></p>
<body>
</body>
</html>