<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HALIFAX AMUSEMENT PARK</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div class="head">
    <!--inserting main text on the welcome page-->
    HALIFAX AMUSEMENT PARK
</div>

<div class="container">

    <!--inserting buttons on the welcome page-->
    <button onclick="location.href='/main'" type="button" style="background-color:rgb(167, 159, 211)">
        Proceed As Guest</button>
    <button onclick="location.href='/login'" type="button" style="background-color:rgb(167, 159, 211)">
        Login</button>
    <button onclick="location.href='/register'" type="button" style="background-color:rgb(167, 159, 211)">
        Register</button>
    <br/>

</div>
</body>

</html>


























